body{
    background-color: gray;
    width: 100;
    

}

button{
    
    min-width: 300px;
    font-size: 150%;
}

.AC{
    color: red;
}

table{
    width: 100%;
    border: 1px solid;
    background-color: black;
}
#result{
    min-width: 121.5vw;
    height: 50px;

}

tr{
    min-width: 100%;
    align-items: center;
    display: flex;
}